<h1><%= @user.email %></h1>
<div>
  <p><strong>********Products*********</strong></p>
  <%= render '/products/user_products', products: @products %>
</div>
<div>
  <% if is_owner_and_signed_in? @user %>
    <p><strong>********Reviews*********</strong></p>
    <%= render '/reviews/user_reviews', reviews: @reviews %>
  <% end %>
</div>
