<div class="page-header">
  <h1>
    <%= user_full_name(@user) %>
    <% if user_signed_in? %>
      <%= link_to new_product_path, class: "btn btn-primary active right", type: 'button' do %>
        <i class="fa fa-plus-circle"></i>
        New Product
      <% end %>
    <% end %>
  </h1>
</div>

<h2>
  <span class="label label-default" id='user-products-id'>Products</span>
  <span class="label label-primary" id='user-reviews-id'>Reviews</span>
</h2>

<div id='user-products' class='drop-down'>
  <%= render '/products/user_products', products: @products %>
  <% unless @products.present? %>
    <p>You don't own any products.</p>
  <% end %>
</div>

<div id='user-reviews' class='drop-down'>
  <%= render '/reviews/user_reviews', reviews: @reviews %>
  <% unless @reviews.present? %>
    <p>You did not give any review, yet.</p>
  <% end %>
</div>
