  <div class="row">
    <div class="col-xs-8">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= link_to product.title, product_path(product), class: "label label-success", type: 'button' %></h4>
          </div>
          <div class="panel-body">
            <%= form_for order_item, remote: true do |f| %>
              <h6 class="text-left">
                Price:
                <span class="text-primary"><%= display_price(product) %></span>
                  <div class="pull-right">
                    <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.title}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
                  </div>
              </h6>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
