<% if @order_item && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if current_order.order_items.count == 0 %>
  <p id='empty-cart-text'>
    <span>There are no items in your shopping cart.  Please go to </span>
    <i><%= link_to "Products", root_path, class: 'btn-link' %></i>
    <span> and add some items to your cart.</span>
  </p>
<% else %>
      <div class="panel-group shadow">
        <div class="panel panel-primary">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Image</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Seller</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <% current_order.order_items.each do |order_item| %>
                  <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
                <% end %>
              </tbody>
            </table>
            <p class='text-center' id='add-more-cart-btn'>
              <%= link_to "Add More Products", root_path, class: 'btn btn-primary btn-lg' %>
            </p>
          </div>
        </div>
      </div>
<% end %>
