<div class="page-header">
  <h1>Shopping Cart
    <%= link_to 'Show All Product', root_path, class: "btn btn-primary active", type: 'button'%>
  </h1>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="shopping-cart">
      <%= render "shopping_cart" %>
    </div>
  </div>

  <% if current_order_has_products? %>
    <%= render 'checkout_details' %>
  <% end %>
</div>
