<div class="page-header">
  <h1>Editing product
    <%= link_to 'Show', @product, class: 'btn btn-primary' %>
    <%= link_to 'Back', products_path, class: 'btn btn-primary' %>
  </h1>
</div>

<%= render 'form' %>
